
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

.nav-header{
    margin-left: 10rem;
}

.nav_list_containt{
    margin: 0 10rem 0 2rem;
}

.nav-list{
    flex-direction: row;
    justify-content: space-around;
}

.nav-list>li{
    list-style: none;
    padding: 0 1rem;
    opacity: 0.5;
    text-decoration: none;
}

.valign-wrapper{
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-useractions{
    flex-direction: row;
    justify-content: space-between;
}

.nav-icons{
    width: 30px;
    height: 30px;
    margin: 0 0.7rem;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.images{
    margin: 0 0 0 15rem;
}
.main-image{
    height:400px;
    border-radius: 1em;
    margin-top: 50px;
}

.img-box{
    display: flex;
    justify-content: space-around;
}
.img-box li{
    height: 100px;
    list-style: none;
    margin-top: 1rem;
}
.img-style{
    width: 60px;
    height: 60px;
    border-radius: 1em;
}

.product-container{
    width: 400px;
    margin: 0 5rem;
}

.product-title{
    color: #FF7D18;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.text-size{
    margin-top: 0.8rem;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.text-style{
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 1rem;
    color: #ccc;
}

.amount{
    display: flex;
    align-items: center;
}
.amount-disc{
    margin-top: 1rem;
    font-size: 20px;
}
.disc{
    margin-left: 1.7rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    background-color: #FF7D18;
    color: #fff;
}
.real-amount{
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.4;
    text-decoration: line-through;
}
.main-button{
position: relative;
}
.btn-dec{
    position: relative;
    color: #FF7D18;
    border: none;
    border-radius: 0.2rem;
    font-size: 16px;
    height: 2rem;
    width: 1rem;
}
.btn-no{
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.btn-inc{
    position: relative;
    color: #FF7D18;
    border: none;
    border-radius: 0.2rem;
    font-size: 16px;
    height: 2rem;
    width: 1rem;
    margin-right: 2rem;
}
.cart-btn{
    border: none;
    border-radius: 0.2rem;
    background-color: #FF7D18;
    color: #fff;
    width: 150px;
    height: 50px;
}